*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.center-marg{
  margin: 0 10%;
}

nav p a {
  padding: 0 20px;
}
.signup{
  border: 1px solid blue;
  border-radius:3px;
  color: blue;
  margin-top: 15px;
  padding: 5px;
}
#welcome{
  background-color: blue;
  margin-top: -20px;
  padding: 30px 10px;
}
#welcome h1, #welcome p{
  color:white;
}

form{
  background-color: white;
  border-radius: 5px;
  margin: 30px 0;
  padding: 20px;
}
form h3{
  color:#171559;
}

.create{
  background-color: #54b864;
  color: white;
  border-radius: 5px;
  padding: 5px;
}
#welcome .form-group p{
  color: gray;

}
#loghi{
  background-color: #f3f5f9;
  margin-top: -20px;
  padding: 30px 10px;
}
#loghi h4{
  text-align: center;
  color: gray;

}
#loghi img{
  width: 100%;
  height:auto;

}
#loghi p{
  text-align: center;
}
#git{
  margin-top: 0px;
}
#doc{
  margin-top: 20px;
}
#sla{
  margin-top: 20px;
}
#has{
  margin-top: 30px;
}
#wew{
  margin-top: 25px;
}
@media all and (min-width:992px) {

  #spl{
    margin-top: 50px;
  }

}


/* prova lista */



    /* ul::after{
      content:"";
      display:table;
      clear: both;
    }
    #loghi ul li {
      list-style: none;
      position: relative;
      float: left;
    }
    ul li img{
      width: 100px;
    } */
